*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 140vh;
    background-image: url(images/Picsart_25-11-07_20-22-58-157.jpg);
    background-size: cover;
    background-position: left;
    text-align: right;
    padding-right: 5%;
}
.head-text{
    margin-top: 20%;
    font-size: 30px;
}
.head-text h1{
    font-size: 50px;
    margin-top: 20px;
}
.head-text h1 span{
    color: #ff004f;
}
.contain{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 150px;
    height: 10vh;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
            flex-basis: 60%; 
        }
        .about-col-2 {
            flex-basis: 35%; 
        }
        .about-col-2 img {
            width: 100%;
            border-radius: 15px;
        }
        .sub-tit {
            font-size: 60px;
            font-weight: 600;
            color: #fff;
        }
        .tab-tit {
            display: flex;
            margin: 20px 0 40px;
        }

        .tab-links {
            margin-right: 50px;
            font-size: 18px;
            font-weight: 500;
            color: #ababab; 
            cursor: pointer;
            position: relative;
        }
        .tab-links.active {
            color: #fff; 
        }
        .tab-links.active::after {
            content: '';
            width: 50%;
            height: 3px;
            background: #ff004f; 
            position: absolute;
            left: 0;
            bottom: -8px;
        }
        .tab-contents ul {
            list-style: none;
            padding: 0;
        }
        .tab-contents ul li {
            margin-bottom: 15px;
            font-size: 16px;
        }
        .tab-contents ul li span {
            color: #ff004f; 
            font-size: 14px;
            display: block; 
        }
        .tab-contents {
            display: none;
        }
        .tab-contents.active-tab {
            display: block;
        }
#Services h1{
    text-align: center;
    color: #fff;         
    margin-top: 0;    
    margin-bottom: 50px;
}
.ser-li{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
}
.ser-li div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
}
/*services*/
.service-card-container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 40px;
}

/* === THIS IS THE CORRECTED CODE === */

.service-card-container .card
{
    position: relative;
    width: 300px;
    height: 400px;
    background: var(--clr);
    border-radius: 20px;
    border-top-left-radius: 70px;
    overflow: hidden;
}
.service-card-container .card .box
{
    position: absolute;
    inset: 10px;
    background: #282828;
    border-radius: 10px;
}
.service-card-container .card .box .icon
{
    position: absolute;
    width: 140px;
    height: 140px;
    background: var(--clr);
    border-bottom-right-radius: 50%;
    transition: 0.5s;
}
.service-card-container .card .box .icon::before
{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-top-left-radius: 30px;
    box-shadow: -5px -5px 0 5px var(--clr);
}
.service-card-container .card .box .icon::after
{
    content: '';
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-top-left-radius: 30px;
    box-shadow: -5px -5px 0 5px var(--clr);
}
.service-card-container .card .box .icon .iconBox
{
    position: absolute;
    inset: 10px;
    background: #282828;
    border-radius: 50%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.service-card-container .card .box .icon .iconBox ion-icon
{
    font-size: 4em;
    color: #fff;
    --ionicon-stroke-width:20px;
}
.service-card-container .card .box .content
{
    position: absolute;
    top: 150px;
    padding: 20px;
    text-align: center;
}
.service-card-container .card .box .content h3
{
    color: #fff;
    font-size: 1.35em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.12em;
}
.service-card-container .card .box .content p
{
    color: #fff;
    font-size: 0.95em;
    opacity: 0.75;
    margin: 0 0 10px;
}
.service-card-container .card .box .content a
{
    background: var(--clr);
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.5s;
}
.service-card-container .card .box .content a:hover
{
    letter-spacing: 0.2em;
}
body {
    background: #080808; 
    color: #fff;   
    font-family: 'Poppins', sans-serif; 
}
.container {
    padding: 10px 10%;
}
.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.btn {
    display: inline-block;
    margin: 30px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}
.btn.btn2 {
    display: inline-block;
    background: #ff004f;
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

#contact {
    padding: 80px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-left {
    flex-basis: 35%; 
}
 
.contact-right {
    flex-basis: 60%; 
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f; 
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab; 
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px); 
}


.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626; 
    padding: 15px;
    margin: 15px 0;
    color: #fff; 
    font-size: 18px;
    border-radius: 6px;
    box-sizing: border-box; 

}
nav .fas{
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/phone.jpg);
    }
    #header .contain{
        height:100%;
        display: flex;
        flex-direction: column;
    }
    .head-text{
        margin-top: auto;
        margin-bottom: 10vh;
        font-size: 16px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
        text-align: left;
    }
    .head-text h1{
        font-size: 30px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;

    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .contain, .container {
        padding: 10px 5%; 
    }

    /* Titles */
    .sub-tit, .subtitle {
        font-size: 40px;
    }

    /* About Section */
    .about-col-1, .about-col-2 {
        flex-basis: 100%; 
    }
    .about-col-2 {
        margin-bottom: 30px; 
    }
    .tab-links {
        margin-top: 30px; 
        font-size: 16px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%; 
    }

    .btn.btn2 {
        width: 100%; 
    }
}




